# Virtual environments - EVERYTHING
venv/
pose_env/
env/
.venv/
ENV/
env.bak/
venv.bak/
**/venv/
**/.venv/
**/pose_env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.installed.cfg
*.egg

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db